$Green: Rgb(30, 215, 96);
$Light-Black: Rgb(40, 40, 40);
$Black: Rgb(24, 24, 24);
$Grey: Rgb(170, 170, 170);
$Sand: Rgb(200, 200, 200);
$White: Rgb(255, 255, 255);
$Blue: #4688d7;

// Spacing

$Padding-Xs  : 5px;
$Padding-Sm  : 10px;
$Padding     : 15px;
$Padding-Lg  : 30px;
$Padding-Xl  : 60px;

$Margin-Xs  : 5px;
$Margin-Sm  : 10px;
$Margin     : 15px;
$Margin-Lg  : 30px;
$Margin-Xl  : 60px;

// Borders

$Border-Radius: 15px;

// Font-Sizes

$X-Small: 11px;
$Small: 14px;
$Medium: 16px;
$Large: 20px;
$X-Large: 24px;
$Xx-Large: 36px;
$Xxx-Large: 52px;



// ===== Styles ==== //

Body {
  Background: $Black;
  Font-Family: 'Roboto', Sans-Serif;
  
  A {
    Color: $Grey;
    
    &:Hover {
      Color: $Sand;
    }
  }
  
}

.Header {
  
  & {
    Background: $Light-Black;
    Padding: $Padding-Sm;
    Color: $Grey;
    Border-Bottom: 1px Solid $Black;
    
    Display: Flex;
    Flex-Flow: Row Wrap;
    Align-Items: Center;
  }
  
  .Window__actions {}
  
  .Page-Flows {
    
    .Flow {
      
      Font-Size: $Large;
      Color: $Grey;
      Margin: 0 $Margin-Sm;
      
      &:Hover {
        Color: $White;
      }
      
      .Disabled {
        Color: Darken( $Grey , 30% );
      }
    }
    
  }
  
  .Search {
    
    Margin-Left: 1%;
    
    Input {
      
      Border-Radius: $Border-Radius;
      Border: None;
      Background: $White;
      Color: $Black;
      Padding-Left: $Padding-Lg;
      Outline: None;
      Background-Image: Url(Https://S3-Us-West-2.Amazonaws.Com/S.Cdpn.Io/7022/Ios-Search.Svg);
      Background-Repeat: No-Repeat;
      Background-Size: 10%;
      Background-Position: 5px;
      
    }
    
  }
  
  .User {
    
    & {
      Width: 300px;
      Margin-Left: Auto;
      
      Display: Flex;
      Flex-Flow: Row Wrap;
      Justify-Content: Space-Between;
      Align-Items: Center;
    }
    
    I {
      Font-Size: $Large;
      
      &:Hover {
        Color: $White;
        Cursor: Pointer;
      }
    }
    
    &__notifications {}
    
    &__inbox {}
    
    &__info {
      
      Img {
        
        Max-Width: 30px;
        Max-Height: 30px;
        Border-Radius: 50%;
        Display: Inline-Block;
        
      }
      
    }
    
    &__actions {
      
      Button {
        Background: None;
        Border: None;
      }
      
      .Dropdown-Menu {
        Background: $Light-Black;
        Margin-Top: 25px;
        Border-Radius: 2px;
        Padding: 0;
        Border: None;
        
        &:Before {
          Font-Family: "Ionicons";
          Content: "\F365";
          Position: Absolute;
          Top: -30px;
          Right: 7px;
          Color: $Light-Black;
          Font-Size: $Xx-Large;
        }
        
        A {
          Color: $Grey;
          Transition: All 0.2s Ease;
          
          &:Hover {
            Background: None;
            Transition: All 0.2s Ease;
          }
        }
        
        Li {
          Padding: $Padding-Sm;
          Margin: 0;
          Transition: All 0.2s Ease;
          
          &:Hover {
            Background: $Grey;
            Transition: All 0.2s Ease;
            
            A {
              Color: $Sand;
              Transition: All 0.2s Ease;
            }
          }
        }
        
      }
      
    }
    
  }
  
}

.Content {
  
  & {
    Display: Flex;
    Flex-Flow: Row Wrap;
  }
  
  &__left {
    Width: 15%;
  }
  
  &__middle {
    Width: 70%;
  }
  
  &__right {
    Width: 15%;
  }
  
  @Media (Max-Width: 1400px) {
    
    &__left {
      Width: 20%;
    }
    
    &__middle {
      Width: 80%;
    }
    
    &__right {
      Display: None;
    }
    
  }
  
  @Media (Max-Width: 768px) {
    
    &__left {
      Width: 100%;
    }
    
    &__middle {
      Width: 100%;
    }
    
  }
  
}

.Navigation {
  
  & {
    Padding: $Padding;
    Background: $Light-Black;
    Color: $Grey;
    Overflow-Y: Scroll;
  }
  
  &__list {
    
    & {
      Display: Flex;
      Flex-Flow: Column Wrap;
      Margin-Bottom: $Margin;
    }
    
    &__header {
      @Extend .H2;
      
      &:After {
        Font-Family: "Ionicons";
        Content: "\F123";
      }
      
    }
    
    .Active {
      &:After {
        Font-Family: "Ionicons";
        Content: "\F126";
      }
    }
    
    &__item {
      
      & {
        Color: $Grey;
        Padding: $Padding-Xs 0;

        Display: Flex;
        Flex-Flow: Row Nowrap;
        Align-Items: Center;
      }
      
      &:Hover {
        Color: $White;
        Text-Decoration: None;
        Border-Right: 3px Solid $Green;
      }
      
      I {
        Width: 25px;
        Display: Block;
      }
      
    }
    
  }
  
}

  @Media (Max-Width: 768px) {
  
    .Navigation {

      Display: Flex;
      Flex-Flow: Row Wrap;
      Justify-Content: Space-Around;
      
      &__list {
        Margin-Bottom: 0;
        Width: Calc( 100% / 3 );
        Text-Align: Center;
        
        &__item {
          
          Width: 100%;
          Text-Align: Center;
          
          I {
            Display: None;
          }
          
          Span {
            Margin: 0 Auto;
          }
          
          &:Hover {
            Border: None;
          }
          
        }
        
      }

    }

  }

.Playlist {
  
  & {
    Padding: $Padding;
    Background: $Light-Black;
    Border-Top: 1px Solid $Black;
    Border-Bottom: 1px Solid $Black;
  }
  
  &:Hover {
    Background: Lighten( $Light-Black, 10% );
    
    A {
      Color: $White;
    }
  }
  
  A {
    Color: $Grey;
    
    Display: Flex;
    Flex-Flow: Row Nowrap;
    Align-Items: Center;
    
    &:Hover {
      Text-Decoration: None;
    }
    
    I {
      Font-Size: $X-Large;
      Color: $White;
      Margin-Right: $Margin;
    }
    
  }
  
}

  @Media (Max-Width: 768px) {
  
  .Playlist {

    Display: None;

  }

}

.Playing {
  
  & {
    Background: $Light-Black;
    Border-Bottom: 1px Solid $Black;
    
    Display: Flex;
    Flex-Flow: Row Nowrap;
    Align-Items: Center;
  }
  
  &__art {
    
    Img {
      Width: 50px;
      Height: 50px;
    }
    
  }
  
  &__song {
    Color: $Grey;
    Padding-Left: $Padding;
    
    Display: Flex;
    Flex-Flow: Column Wrap;
    
    A {
      Color: $Grey;
      
      &:Hover {
        Color: $White;
        Cursor: Pointer;
      }
    }
    
  }
  
  &__add {
    Margin-Left: Auto;
    Padding-Right: $Padding;
    Color: $Grey;
  }
  
}

  @Media (Max-Width: 768px) {
  
  .Playing {
    Border-Top: 1px Solid $Black;
  }
  
}

.Current-Track {
  
  & {
    //Position: Fixed;
    //Bottom: 0;
    //Width: 100%;
    
    Background: $Light-Black;
    Padding: $Padding-Xs $Padding;
    
    Display: Flex;
    Flex-Flow: Row Wrap;
    Align-Items: Center;
  }
  
  &__actions {
    
    & {
      Width: 5%;
    
      Display: Flex;
      Flex-Flow: Row Nowrap;
      Justify-Content: Space-Between;
      Align-Items: Center;
    }
    
    A {
      Font-Size: $X-Large;
      Color: $Sand;
      
      &:Hover {
        Color: $White;
        Cursor: Pointer;
      }
    }
    
    .Play {
      Font-Size: $Xx-Large;
    }
    
  }
  
  &__progress {
    
    & {
      Width: 70%;
      Padding: 0 $Padding-Lg;
      Color: $Grey;
      Font-Size: $X-Small;
      
      Display: Flex;
      Flex-Flow: Row;
      Justify-Content: Space-Between;
      Align-Items: Center;
    }
    
    &__bar {
      Width: 100%;
      Padding: 0 $Padding;
      
      .NoUi-Target {
        Border: None;
        Height: 4px;
      }
      
      .NoUi-Base {
        Background: $Green;
      }
      
      .NoUi-Origin {
        Background: Darken( $Grey , 30% );
      }
      
      .NoUi-Handle {
        Background: $Sand;
        Width: 15px;
        Height: 15px;
        Border-Radius: 50%;
        Box-Shadow: None;
        Border: None;
        Left: 0;
        Display: None;
        
        &:Before, &:After {
          Background: None;
        }
      }
      
    }
    
    &:Hover {
        
      .NoUi-Handle {
        Display: Block;
      }

    }
    
  }
  
  &__options {
    
    & {
      Width: 25%;
      
      Display: Flex;
      Flex-Flow: Row Wrap;
      Align-Items: Center;
    }
    
    .Lyrics {
      Font-Size: $X-Small;
      Text-Transform: Uppercase;
      Width: 15%;
      Padding: 0 $Padding 0 0;
    }
    
    .Controls {
      
      & {
        Width: 85%;
      
        Display: Flex;
        Flex-Flow: Row Wrap;
        Justify-Content: Space-Between;
      }
      
      .Devices {
        
        &:Hover {
          Text-Decoration: None;
        }
        
        I {
          Margin-Right: $Margin-Xs;
        }
        
        Span {
          Font-Size: $X-Small;
          Text-Transform: Uppercase;
        }
        
      }
      
      .Volume {
        Width: 25%;
        
        Display: Flex;
        Flex-Flow: Row Wrap;
        Align-Items: Center;
        
        I {
          Width: 20px;
          Color: $Grey;
        }
        
        #Song-Volume {
          Width: Calc( 80% - 20px );
          Border: None;
          Height: 4px;

          .NoUi-Base {
            Background: $Sand;
          }

          .NoUi-Origin {
            Background: Darken( $Grey , 30% );
          }

          .NoUi-Handle {
            Background: $Sand;
            Width: 15px;
            Height: 15px;
            Border-Radius: 50%;
            Box-Shadow: None;
            Border: None;
            Left: 0;
            Display: None;

            &:Before, &:After {
              Background: None;
            }
          }
          
          &:Hover {
        
            .NoUi-Handle {
              Display: Block;
            }

          }
          
        }
        
      }
      
    }
    
  }
  
  @Media (Max-Width: 1400px) {
    
    &__actions {
      Width: 10%;
    }
    
    &__progress {
      Width: 50%;
    }
    
    &__options {
      Width: 40%;
    }
    
  }
  
  @Media (Max-Width: 980px) {
    
    &__actions {
      Width: 10%;
    }
    
    &__progress {
      Width: 40%;
    }
    
    &__options {
      Width: 50%;
    }
    
  }
  
  @Media (Max-Width: 768px) {
    
    &__actions {
      Width: 25%;
    }
    
    &__progress {
      Width: 75%;
    }
    
    &__options {
      Width: 100%;
    }
    
  }
  
  @Media (Max-Width: 480px) {
    
    &__actions {
      Width: 100%;
      Justify-Content: Space-Around;
      Padding: $Padding-Xs 0;
    }
    
    &__progress {
      Width: 100%;
      Padding: $Padding-Xs 0;
    }
    
    &__options {
      Width: 100%;
      Padding: $Padding-Xs 0;
    }
    
  }
  
}

  @Media (Max-Width: 768px) {
  
    .Current-Track {

      &__action {
        Padding-Top: $Padding;  
      }

    }

  }

.Artist {
  
  Height: 617px;
  Overflow-Y: Scroll;
  
  &__header {
    
    & {
      Height: 320px;
      Border-Bottom: 1px Solid $Light-Black;
      Position: Relative;
      Background-Image: Url(Https://S3-Us-West-2.Amazonaws.Com/S.Cdpn.Io/7022/Spotify_img_bground.Png);
      Background-Size: Cover;
      Background-Position: Center;
      Background-Repeat: No-Repeat;
      Overflow: Hidden;
      Z-Index: 1;
      
      Display: Flex;
      Flex-Flow: Row Wrap;
      Justify-Content: Space-Between;
      Align-Items: Flex-End;
    }
    
    &:Before {
      Content: ' ';
      Display: Block;
      Position: Absolute;
      Left: 0;
      Top: 0;
      Width: 100%;
      Height: 100%;
      Z-Index: 0;
      Opacity: 0.15;
      Background-Image: Url(Https://S3-Us-West-2.Amazonaws.Com/S.Cdpn.Io/7022/G-Eazy.Png);
      Background-Repeat: No-Repeat;
      Background-Size: Cover;
      Background-Position: Top;
      
    }
    
    .Artist__info {
      
      & {
        Padding: $Padding;
        Z-Index: 1;
        Width: 80%;
        Margin-Top: $Margin-Xl * 1.3;

        Display: Flex;
        Flex-Flow: Row Wrap;
        Align-Items: Flex-End;
      }
      
      .Profile__img {
        
        Margin-Right: $Margin;
        
        Img {
          Width: 150px;
          Height: 150px;
          Border-Radius: 50%;
        }
      }
      
      &__type {
        Color: $Grey;
        Text-Transform: Uppercase;
        Font-Size: 11px;
        Letter-Spacing: 1px;
      }
      
      &__name {
        Color: $White;
        Font-Size: $Xx-Large;
        Font-Weight: 100;
        Padding: 0 0 $Padding-Sm 0;
      }
      
      &__actions {
        
        Display: Flex;
        Flex-Flow: Row Wrap;
        
        Button {
          Margin-Right: $Margin-Sm;
          Height: 27px;
          
          Display: Flex;
          Flex-Flow: Row Wrap;
          Align-Items: Center;
          Padding: 0 $Padding;
          Font-Weight: 500;
          
          I {
            Font-Size: $Large;
            Margin-Right: $Margin-Xs;
          }
          
        }
        
        .More {
          Width: 27px;
          Height: 27px;
          Border-Radius: 50%;
          Padding: 0;
          Text-Align: Center;
          
          I {
            Margin: 0;
            Padding-Left: 6px;
          }
        }
        
      }
      
    }
    
    .Artist__listeners {
      Width: 20%;
      Z-Index: 1;
      Padding: $Padding;
      Text-Align: Right;
      Color: $Grey;
      Font-Weight: 100;
      Font-Size: 16px;
      Letter-Spacing: 1px;
      
      &__label {
        Font-Weight: 300;
        Text-Transform: Uppercase;
        Font-Size: 12px;
        Letter-Spacing: 1px;
      }
    }
    
    .Artist__navigation {
      
      & {
        Width: 100%;
        Z-Index: 1;
        Background: Rgba( 24, 24, 24, .6);
        
        Display: Flex;
        Flex-Flow: Row Wrap;
        Justify-Content: Space-Between;
        Align-Items: Center;
      }
      
      Ul {
        
        Border: None;
        
        Li {
          
          Padding: 0 $Padding;
          
          A {
            Padding: $Padding 0;
            Color: $Grey;
            Border: None;
            Text-Transform: Uppercase;
            Letter-Spacing: 1px;
            Transition: All 0.4s Ease;
            Border-Bottom: 4px Solid Rgba(0, 0, 0, 0);
            
            &:Hover {
              Background: None;
              Border: None;
              Color: $White;
              Transition: All 0.4s Ease;
              Border-Bottom: 4px Solid Rgba(0, 0, 0, 0);
            }
            
          }
          
          &.Active {
            
            A {
              Color: $White;
              Background: None;
              Border: None;
              Border-Bottom: 4px Solid $Green;
              
              &:Hover {
                Border-Bottom: 4px Solid $Green;
              }
            }
            
          }
          
        }
        
      }
      
      &__friends {
        
        & {
          Padding: $Padding;
        }
        
        Img {
          Width: 30px;
          Height: 30px;
          Border-Radius: 50%;
          Position: Relative;
        }
        
        .Tooltip {
          Z-Index: 1;
          Position: Absolute;
        }
        
      }
      
    }
    
  }
  
  &.Is-Verified {
    
    .Profile__img {
      
      Position: Relative;
      
      &:After {
        Font-Family: "Ionicons";
        Content: "\F3fd";
        Position: Absolute;
        Bottom: 5px;
        Right: 25px;
        Color: $White;
        Background: $Blue;
        Width: 20px;
        Height: 20px;
        Border-Radius: 50%;
        Text-Align: Center;
        Font-Size: 18px;
        Line-Height: 1;
      }
      
    }
    
  }
  
  &__content {
    
    & {
      Padding: $Padding;
    }
    
    .Overview {
      
      Display: Flex;
      Flex-Flow: Row Wrap;
      
      &__artist {
        
        Padding-Right: $Padding;
        Width: 70%;
        
        .Latest-Release {
          Margin-Bottom: $Margin-Lg;
          
          Display: Flex;
          Flex-Flow: Row Wrap;
          
          &__art {
            
            Width: 75px;
            
            Img {
              Width: 75px;
              Height: 75px;
            }
            
          }
          
          &__song {
            
            Width: Calc( 100% - 75px );
            
            Padding: $Padding-Sm $Padding;
            Background: $Light-Black;
            Color: $Grey;
            
            Display: Flex;
            Flex-Flow: Column Wrap;
            Justify-Content: Space-Between;
            
            &__title {
              Color: $Sand;
            }
            
          }
          
        }
        
      }
      
      &__related {
        Width: 30%;
      }
      
      @Media (Max-Width: 1024px) {
        
        &__artist {
          Width: 100%;
        }
        
        &__related {
          Width: 100%;
          Margin-Top: $Margin;
        }
        
      }
      
      @Media (Max-Width: 768px) {
        
        &__artist {
          Padding-Right: 0;
        }
        
      }
      
    }
    
  }
  
}

  @Media (Max-Width: 768px) {
  
  .Artist {
    Overflow-Y: Auto;
  }
  
}

  @Media (Max-Width: 522px) {
    
    .Artist {
      
      &__header {
        Height: Auto;
        
        Flex-Flow: Column Wrap;
        
        .Artist__info {
          
          & {
            Margin-Top: 0;
            Width: 100%;
            
            Display: Flex;
            Flex-Flow: Column Wrap;
            Align-Items: Center;
            Text-Align: Center;
          }
          
          .Profile__img {
            Margin-Right: 0;
          }
          
          &__type {
            Margin-Top: $Margin-Sm;
          }
          
        }
        
        .Artist__listeners {
          Width: 100%;
          Text-Align: Center;
        }
      }
      
    }
    
  }

.Tracks {
  
  & {
    Display: Flex;
    Flex-Flow: Column Wrap;
    Margin-Bottom: $Margin;
  }
  
  &__heading {
    
    & {
      Color: $Grey;
      Height: 42px;
      
      Display: Flex;
      Flex-Flow: Row Wrap;
      Align-Items: Center;
    }
    
    &__number {
      Margin-Left: $Margin-Sm;
      Font-Style: Italic;
    }
    
    &__title {
      Margin-Left: 70px;
      Width: 45%;
      Text-Transform: Uppercase;
      Letter-Spacing: 1px;
    }
    
    &__length {
      Margin-Left: Auto;
      Font-Size: $Large;
    }
    
    &__popularity {
      Font-Size: $Large;
      Margin-Left: 55px;
      Padding-Right: $Padding-Sm;
    }
    
  }
  
  .Track {
    
    & {
      Border-Top: 1px Solid $Light-Black;
      Height: 42px;
      Display: Flex;
      Flex-Flow: Row Wrap;
      Align-Items: Center;
    }
    
    &:Hover {
      Background: $Light-Black;
    }
    
    &:Last-Child {
      Border-Bottom: 1px Solid $Light-Black;
    }
    
    &__art {
      
      Img {
        Width: 42px;
        Height: 42px;
      }
      
    }
    
    &__number {
      
      Margin-Left: $Margin-Sm;
      Color: $Grey;
      Width: 12px;
      
    }
    
    &__added {
      
      Margin-Left: $Margin * 2;
      Color: $Sand;
      
      .Added {
        Color: $Sand;
      }
      
      .Not-Added {
        Color: $Grey;
      }
      
    }
    
    &__title {
      Width: 45%;
      Margin-Left: $Margin * 2;
      Color: $White;
      
      &.Featured {
        
        .Title {
          
          &:After {
            Content: "-";
            Margin: 0 $Margin-Xs;
          }
          
        }
        
        .Feature {
          Color: $Grey;
          
          &:After {
            Content: ",";
            Margin-Right: $Margin-Xs;
          }
          
          &:Last-Child {
            
            &:After {
              Content: "";
              Margin-Right: 0;
            }
            
          }

          &:Hover {
            Cursor: Pointer;
            Color: $Sand;
            Text-Decoration: Underline;
          }
          
        }
        
      }
      
      
    }
    
    &__explicit {
      
      .Label {
        Border: 1px;
        Border-Style: Solid;
        Border-Color: Lighten( $Light-Black , 10% );
        Color: Lighten( $Light-Black , 10% );
        Text-Transform: Uppercase;
      }
      
    }
    
    &__plays {
      
      Color: $Grey;
      Margin-Left: Auto;
      Padding-Right: $Padding-Sm;
      
    }
    
    &__length {
      Margin-Left: Auto;
      Color: $Grey;
    }
    
    &__popularity {
      Margin-Left: 46px;
      Padding-Right: $Padding-Sm;
      Font-Size: $Large;
      Color: $Grey;
    }
    
  }
  
}

  @Media (Max-Width: 1200px) {
    
    .Tracks {
      
      &__heading {
        
        &__title {
          Width: Auto;
        }
        
        &__popularity {
          Display: None;
        }
        
      }
      
      .Track {
        
        &__title {
          Width: Auto !Important;
        }
        
        &__explicit {
          Display: None;
        }
        
        &__popularity {
          Display: None;
        }
        
      }
      
    }
    
  }

.Related-Artists {
  
  & {
    Display: Flex;
    Flex-Flow: Column Wrap;
  }
  
  .Related-Artist {
    
    & {
      Background: $Light-Black;
      Padding: $Padding-Xs;
      Margin-Bottom: 2px;
    }
    
    &:Hover {
      Background: Lighten( $Light-Black , 6% );
      Text-Decoration: None;
    }
    
    &__img {
      
      Img {
        Width: 42px;
        Height: 42px;
        Border-Radius: 50%;
      }
      
    }
    
    &__name {
      Margin-Left: $Margin;
      Color: $White;
    }
    
  }
  
}

  @Media (Max-Width: 1024px) {

    .Related-Artists {

      & {
        Flex-Flow: Row Wrap;
      }

      .Related-Artist {
        Margin: $Margin-Sm;
        Width: Calc( (100% / 3) - 20px );
      }

    }    

  }

  @Media (Max-Width: 768px) {

    .Related-Artists {

      .Related-Artist {
        Margin: $Margin-Xs;
        Width: Calc( (100% / 2) - 10px );
      }

    }



  }

  @Media (Max-Width: 480px) {

    .Related-Artists {

      .Related-Artist {
        Margin: $Margin-Xs;
        Width: 20%;
        Background: None;

        &:Hover {
          Background: None;
          Opacity: .6;
        }

        &__name {
          Display: None;
        }

      }

    }

  }

.Overview {
  
  &__albums {
    
    Width: 100%;
    Margin-Top: $Margin-Lg;
    
    &__head {
      
      & {
        Border-Bottom: 1px Solid $Light-Black;
        Margin-Bottom: $Margin-Sm;
        
        Display: Flex;
        Flex-Flow: Row Wrap;
        Justify-Content: Space-Between;
        Align-Items: Center;
      }
      
      .View-Type {
        Color: $White;
        Margin-Bottom: 4px;
        
        .Active {
          Background: $Light-Black;
          Padding: 8px;
          Border-Radius: 50%;
          
          
        }
        
        I {
          Padding: 8px;
          Border-Radius: 50%;
          
          &:Hover {
            Padding: 8px;
            Border-Radius: 50%;
            Background: Lighten( $Light-Black , 5% );
            Cursor: Pointer;
          }
        }
        
      }
      
    }
    
  }
  
}

.Album {
  
  &__info {
    
    & {
      Margin-Bottom: $Margin;
      
      Display: Flex;
      Flex-Flow: Row Wrap;
    }
    
    &__art {
      
      Img {
        Width: 135px;
        Height: 135px;
      }
      
    }
    
    &__meta {
      
      & {
        Width: Calc( 100% - 150px);
        Margin-Left: $Margin;
        
        Display: Flex;
        Flex-Flow: Column Wrap;
      }
      
      .Album__year {
        Color: $Grey;
        Letter-Spacing: 1px;
      }
      
      .Album__name {
        Color: $White;
        Font-Size: $Xx-Large / 1.2;
        Font-Weight: 100;
      }
      
      .Album__actions {
        Margin-Top: Auto;
        
        .Save {
          
          Padding-Left: $Padding-Lg;
          Padding-Right: $Padding-Lg; 
          Margin-Right: $Margin-Sm;
          
          &:Hover {
            Border-Color: $Green;
          }
          
        }
        
        .More {
          Width: 27px;
          Height: 27px;
          Border-Radius: 50%;
          Padding: 0;
          Text-Align: Center;
        }
        
      }
      
    }
    
  }
  
  .Track {
    
    &__title {
      Width: 70%;
    }
    
  }
  
}

  @Media (Max-Width: 1200px) {
  
  .Album {
    
    .Tracks {
      
      .Track {
        
        Height: Auto;
        Padding: $Padding-Sm 0;
        
      }
      
    }
    
  }
  
}

.Social {
  
  & {
    Padding: $Padding;
    Text-Align: Center;
    Overflow-Y: Scroll;
  }
  
  .Friends {
    
    & {
      Display: Flex;
      Flex-Flow: Column Wrap;
      Margin-Bottom: $Margin;
    }
    
    .Friend {
      
      & {
        Padding: $Padding 0;

        Display: Flex;
        Flex-Flow: Row Nowrap;
        Align-Items: Center;
      }
      
      &:First-Child {
        Padding-Top: 0;
      }
      
      I {
        Font-Size: $Large;
        Margin-Right: $Margin;
      }
      
    }
    
  }
  
}

.Media-Cards {
  
  & {
    Display: Flex;
    Flex-Flow: Row Wrap;
  }
  
  .Media-Card {
    
    & {
      Margin: $Margin;
      Width: Calc( (100% / 4) - 30px );
    }
    
    &__image {
      Height: 200px;
      Background-Repeat: No-Repeat;
      Background-Position: Center;
      Background-Size: Cover;
      
      Display: Flex;
      Align-Items: Center;
      
      I {
        Color: $White;
        Font-Size: 72px;
        Margin: 0 Auto;
        Opacity: 0;
        Transition: All 0.5s Ease;
        Text-Shadow: 1px 5px 15px $Black;
        
        &:Hover {
          Cursor: Pointer;
        }
      }
      
      &:Hover {
        
        I {
          Opacity: 1;
          Transition: All 0.5s Ease;
        }
        
      }
      
    }
    
    &__footer {
      
      & {
        Display: Block;
        Background: $Light-Black;
        Padding: $Padding;
        Color: $White;
      }
      
      &:Hover {
        Cursor: Pointer;
      }
      
    }
    
  }
  
}

  @Media (Max-Width: 1100px) {

    .Media-Cards {

      .Media-Card {

        & {
          Width: Calc( (100% / 3) - 30px );
        }

      }

    }

  }

  @Media (Max-Width: 768px) {

    .Media-Cards {

      .Media-Card {

        & {
          Width: Calc( (100% / 2) - 30px );
        }

      }

    }

  }

  @Media (Max-Width: 480px) {

    .Media-Cards {

      .Media-Card {

        & {
          Margin: $Margin 0;
          Width: 100%;
        }

      }

    }

  }


::-Webkit-Scrollbar {
    Width: 8px;
}
::-Webkit-Scrollbar-Thumb { 
        Border-Radius: 4px;
            Background: Lighten( $Light-Black , 6% );
}

// Media Queries

@Media (Max-Width: 650px) {
  
  .Header {
    
    .Window__actions {
      Width: 15%;
    }
    
    .Page-Flows {
      Width: 20%;
      Margin: 0;
    }
    
    .Search {
      Width: 65%;
      Margin: 0;
      
      Input {
        Width: 100%;
        Background-Size: 7%;
      }
    }
    
    .User {
      Width: 100%;
      Margin-Top: $Margin;
      
      Justify-Content: Space-Around;
    }
    
  }
  
}


// ==== Framework ==== //

.H1 {
  Font-Size: 36px;
}

.H2 {
  Font-Size: $X-Small;
  Text-Transform: Uppercase;
  Letter-Spacing: 1px;
  Margin-Bottom: $Margin-Xs;
}

.Red {
  Color: #Fc615c;
  
  &:Hover {
    Color: Darken( #Fc615c , 10% );
  }
}

.Yellow {
  Color: #Fdbe41;
  
  &:Hover {
    Color: Darken( #Fdbe41 , 10% );
  }
}

.Green {
  Color: #34c94a;
  
  &:Hover {
    Color: Darken( #34c94a , 10% );
  }
}

Button {
  Border-Radius: 20px;
  Border: None;
  Padding: $Padding-Xs $Padding;
  Text-Transform: Uppercase;
  Letter-Spacing: 1px;
  Font-Size: $X-Small;
  Outline: None;
  
  &:Hover {
    Cursor: Pointer;
  }
}

.Button-Dark {
  Background: $Green;
  Color: $White;
  Border: 1px Solid $Green;
  
  &:Hover {
    Background: Lighten( $Green, 10% );
  }
}

.Button-Light {
  Background: None;
  Color: $Sand;
  Border: 1px Solid $Sand;
  
  &:Hover {
    Border-Color: $White;
    Color: $White;
  }
}

.Section-Title {
  
  Text-Transform: Uppercase;
  Color: $Grey;
  Letter-Spacing: 1.25px;
  Font-Size: $X-Small * 1.2;
  Margin-Bottom: $Margin-Sm;
  
}
Now We Added Our Cs