.nav a {
   list-style: none;
   height: 50px;
   line-height: 50px;
   font-size: 1rem;
   font-weight: 550;
   display: block;
   padding: 5px 35px;
   color: black;
   text-decoration: none;
   }
   .player-controls {
     max-width: 500px;
     margin: 9rem auto;
     background: black;
     padding: 36px 32px 24px 32px;
     border-radius: 14px;
     box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
   }